body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto; 
    background: rgb(8,0,68);
    background: linear-gradient(160deg,
        rgb(0, 0, 53) 0%,
        rgb(8, 0, 68) 55%,
        rgb(39, 0, 94) 100%
    ) fixed; 
    margin: 0;
    color: rgb(255, 255, 255);
    --flexnum: 4;
    --size: 1vw;
}

h1 {
    font-size: calc(8*var(--size));
    text-align: center;
    color: rgb(255, 255, 255);
}
ul {
    list-style: none;
}

#main-heading span {
  background: -webkit-linear-gradient(0deg, rgb(0, 89, 255), rgb(153, 0, 255));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bgrscroll 2s ease infinite;
}

@keyframes bgrscroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#projects {
    margin-top: 6vw;
    width: 86vw;
    padding: 2vw;
    margin-left: 5vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

#projects div {
    width: calc(86vw/var(--flexnum) - 0.6vw);
    height: calc(86vw/var(--flexnum) - 0.6vw);
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 8px;

    margin: 0.3vw;

    z-index: 1;

    scale: 1;
    transition: scale 0.2s;
}

#projects div:hover {
    z-index: 9999;
    scale: 1.05;
    transition: scale 0.2s;
}

#projects div h1 {
    width: 92%;
    word-break: break-all;
    margin: 3%;
    padding: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: calc(3*var(--size));
    margin-bottom: 0;
    margin-top: 0.3em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
}


div:has(#footer) {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#footer {
    margin-top: 6vw;
    width: calc(110*var(--size) + 0.6vw);
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: fit-content;
}

#footer div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 15px 15px 0;
    height: 20vw;
    width: calc(40*var(--size));
    float: right;
}
#footer div:first-child{
    width: calc(70*var(--size));
    float: left;
    border-radius: 15px 0 0 15px;
}
#footer h1 {
    font-size: calc(4*var(--size));
    margin-top: 1vw;
    padding-right: 6vw;
    text-align: center;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.1s;
}
#footer div:hover h1 {
    opacity: 1;
    transition: opacity 0.3s;
}

.mobile #footer {
    display: block;
    justify-content: center;
    margin: 3vw;
}
.mobile #footer div:first-child {
    height: 30vw;
    margin-bottom: 0.6vw;
    border-radius: 15px 15px 0 0;
}
.mobile #footer div{
    width: 100%;
    border-radius: 0 0 15px 15px;
}